ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: lightgrey;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    background-color: #1F2937;
    padding-left: 175px;
    padding-right: 175px;
}

.header ul {
    display: flex;
    gap: 25px;
}

.header img {
    width: 220px;
}

body {
    margin: 0;
    padding: 0;
}